nav {
  font-family: Arial, Helvetica, sans-serif;
}
.jumbotron {
  background-image: url("../images/nytimes_sample.jpg");
  background-size: cover;
  font-family: monospace;
}
.subtitle {
  color: white;
}
.under_construction {
  color: red;
  background: white;
}
footer {
  text-align: center;
}
.saveBtn {
  float: right;
}
.alert {
  background-color: orange;
  color: white;
}
.card-header {
  background-color: teal;
  color: white;
}
.article-link {
  font-size: 1.3rem;
  color: white;
}
